body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.div {
    margin: 0;
    display: flex;
    color: #2f2f2f;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    align-items: initial;
}

.lass1 {
    background-color: #cba259;
}

.div0 {
    background-color: #e4b76b;
    position: absolute;
    left: 20%;
    width: 32%;
    height: 100%;
    z-index: 0;
}

.img1 {
    /*height: 100%;*/
    width: 100%;
    max-width: 100%;
    object-position: center;
    object-fit: cover;
    box-shadow: 0 0 40px black;

}

.alink {
    height: 29.33px;
    margin: 5px;
}

.pinkitem0 {
    position: absolute;
    top: 5%;

}

.pinkitem2 {
    position: absolute;
    top: 55%;
    border: none;
    background-color: #242425;
    font-size: 1.5rem;
    font-family: 'Montserrat';
    color: whitesmoke;
    cursor: pointer;
}

.pinkitem1 {
    position: absolute;
    top: 50%;
    border: none;
    background-color: #242425;
    font-family: 'Montserrat';
    font-size: 1.5rem;
    color: whitesmoke;
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-size: 1.5rem;
    height: 60%;
    width: 13%;
    /*background-color: darkgray;*/
    z-index: 10;
}

.testowlclass {
    height: 100px;
    width: 100px;
    background-color: black;
}

.testowl {
    display: flex;
    position: absolute;
    top: 1200px;
    height: 1000px;
    width: 1000px;
    background-color: whitesmoke;
}

.pinkback1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    /*background-color: #5a3535;*/
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #cba259;
    width: 40px;

}

.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 13.9%;
    top: 25%;
    z-index: 20;
}

.pinkback {
    display: flex;
    position: relative;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    /*background-color: #ff6161;*/
}

.menu1 {
    color: #cba259;
    height: 29.33px;
    margin: 5px;
}

.button1 {
    background-color: #e4b76b;
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 57%;
    cursor: pointer;
    border: none;
    color: #1a1a1a;
    display: inline-block;
    padding: 15px 32px;
    font-family: 'Montserrat';
    border-radius: 5px;
}

.menu {
    color: #585858;
    margin: 3%;
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
    /*background-color: darkgray;*/
    position: absolute;
    right: 1%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    width: 100px;
    height: 50px;
}

.newmenu {
    position: absolute;
    top: 20%;
    left: 57%;
    height: 270px;
    width: 500px;
    font-weight: bold;
    /*background-color: #8d8d8d;*/
}

.menu2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

.worddiv {
    color: #585858;
    margin: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*background-color: darkgray;*/
    position: absolute;
    right: 20%;
    font-family: 'Montserrat';
    font-size: 1.5rem;
    width: 20%;
    height: 5%;
}

.div1 {
    z-index: 3;
    display: flex;
    flex-direction: column;
    vertical-align: top;
    justify-content: flex-start;
    align-items: center;
    left: 10%;
    position: absolute;
    color: whitesmoke;
    font-size: 5rem;
    margin-top: 4%;
    width: 80%;
    height: 80%;
    background-color: #242425;
    box-shadow: 0 0 40px black;
    border-radius: 5px;
    /*transition: all 300ms ease-in-out;*/
}

.div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
    left: 12.5%;
    z-index: 4;
    width: 40%;
    height: 100%;
    font-size: 5rem;
    /*background-color: darkgray;    */
    object-fit: cover;
}

/*.div22 {*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    object-position: center;*/
/*    object-fit: cover;*/
/*}*/
/*.div1:hover {
    background-color: cadetblue;
    transition: all 300ms ease-in-out;
    width: 800px;
    transform: translateX(100px);
    margin: 10px;
}*/
A:link {
    text-decoration: none;
}

A:link {
    color: whitesmoke;
}

A:visited {
    color: whitesmoke;
}

A:hover {

}
.close {
    display: flex;
    cursor: pointer;
    border-radius: 2px;
    border-color: black ;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}

.button1:hover {
    background: #ccc;
    transition: ease-in-out 200ms;
}
.regbutt {
    border: black;
    border-radius: 5px;
    align-items: center;
    background-color: #e4b76b;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 3%;
    font-family: 'Montserrat';
    padding: 5px 6px 5px 6px;
}
.regbutt:hover {
    background-color: #8d8d8d;
    transition: ease-in-out 200ms;
}
.form11 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#window {
    width: 350px;
    height: 220px;
    margin: 40px auto;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    z-index: 150;
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 30%;
    bottom: 0;
}

.form {
    width: 275px;
    margin: -15px auto 20px auto;
    text-align: center;
}

.input {
    width: 260px;
    padding: 5px;
    margin-bottom: 10px;
}
.front-img {
    display: inline;
    overflow: hidden;
    position: absolute;
    /*background-color: #8d8d8d;*/
    bottom: 8%;
    left: 45%;
    height: 300px;
    width: 1500px;
    object-position: center;
    z-index: 50;
}
.img-front {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 2px;
    
}
#gray {
    opacity: 0.8;
    padding: 15px;
    background-color: rgba(1, 1, 1, 0.75);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    z-index: 100;
    overflow: auto;
}

@media (max-width: 1370px) {

    .owl-theme .owl-nav.disabled + .owl-dots {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 13%;
        top: 25%;
        z-index: 20;
    }

    .logo {
        font-size: 1rem;
    }

    .pinkitem1 {
        font-size: 1rem;
    }

    .pinkitem2 {
        font-size: 1rem;
    }

    .newmenu {
        position: absolute;
        top: 23%;
        left: 57%;
        height: 270px;
        width: 300px;
        font-weight: bold;
        font-size: 3rem;
        /*background-color: #8d8d8d;*/
    }

    .button1 {
        top: 60%;
        font-size: 0.7rem;
    }

    .alink {
        font-size: 0.7rem;
    }

    .owl-theme .owl-dots .owl-dot.active span {
        background: #cba259;
        width: 40px;
        /*height: 10px;*/
    }

    .owl-theme .owl-dots .owl-dot span {
        width: 30px;
        height: 5px;
        margin: 5px 7px;
        background-color: #4e4e4e;
        display: block;
        -webkit-backface-visibility: visible;
        transition: opacity .2s ease;
        border-radius: 20px;
    }
    .menu {
        width: 80px;
        font-size: 1rem;
    }
}
@media (max-width: 900px) {
    .owl-theme .owl-nav.disabled + .owl-dots {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 13.2%;
        top: 25%;
        z-index: 20;
    }
}
